

.head{
   text-align: center;
    font-family : "Alpha Geometrique", Georgia, Times, serif;
    color: white;
    
}

.img{

    width: auto;
    height: 700px; ;
    
}

#videoback{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top:0 ;
    bottom: 0;
    z-index: -1;
}

main {
margin-top: 50px;
}